{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    {% for mw in middlewares %}
    <div class="col-lg-3 col-6">
      <div class="small-box bg-info">
        <div class="inner">
          <h3>{{ mw.count }}</h3>
          <p>{{ mw.name }}</p>
        </div>
        <div class="icon"><i class="fas fa-server"></i></div>
        <a href="{% url 'core:middleware_detail' mw.slug %}" class="small-box-footer">
          View <i class="fas fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
